# Python virtual environment
myenv/
*.pyc
__pycache__/

# System-specific files
.DS_Store
Thumbs.db

build/
# Logs
*.log

# SQLite database
*.db

# IDE files
.vscode/
.idea/

# Environment variables
.env

*.crt